/* GLOBAL */
html {
  /* Standard font-size er 16px. 16px = 1em */
  font-size: 10px;
}

body {
  margin: 0;
  font-size: 1.6rem;
  font-family: "Roboto";
}

h1,
h2,
h3 {
  font-family: "Bebas Neue";
}

img {
  width: 20rem;
  height: 20rem;
  background-color: #5f506b;
}

/* HEADER */
.header {
  position: sticky;
  top: 0;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 0 1.6rem;
}

.navList {
  display: flex;
  padding: 0;
  margin: 0;
  gap: 1.6rem;
  list-style-type: none;
}

.navList a{
  text-decoration: none;
  cursor: pointer; /* Skjer automatisk */
  color: black;
}

.navList a:hover{
  text-decoration: underline;
  color: #76949f;
}

.navList a:active, .navList a:focus{
  font-weight: 500;
}



.hamburgerIcon {
  height: 3.2rem;
  width: 3.2rem;
  display: none;
  background-color: initial;
}

/* MAIN */
main {
  padding: 0 1.6rem;
}

section {
  height: 100dvh;
  border-bottom: 1px solid black;
}

.colorChange{
  background-color: red;
  color: white;
  width: 10rem;
  padding: 8px 16px;
  border: 0;
  border-radius: 10px;
  /* Longhand */
  transition-property: all;
  transition-timing-function: ease-in-out;
  transition-duration: 0.1s;
  transition-delay: 0.1s;
  /* Shorthand */
  transition: all ease-in-out 1s 0.1s;
}

.colorChange:hover{
  background-color: yellow;
  color: black;
}

.sizeChange{

  width: 10rem;
  padding: 8px 16px;
  border: 0;
  border-radius: 10px;
  transition-property: scale;
  transition-timing-function: ease-in;
  transition-duration: 3s;
  transition-delay: 0.1s;
}

.sizeChange:hover{
  scale: 0.5;
}

.opacityChange{
  width: 10rem;
  padding: 8px 16px;
  border: 0;
  border-radius: 10px;
  transition-property: opacity;
  transition-timing-function: ease-out;
  transition-duration: 3s;
  transition-delay: 0.1s;
}

.opacityChange:hover{
  opacity: 0.5;
}

.glideSection{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

.glideCard{
  /* Meningen å bruke fast størrelse */
  height: 300px;
  width: 300px;
  border: 1px solid black;
}

.glideFromLeft{
  animation-name: glideFromLeft;
  animation-timing-function: ease-in-out;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-delay: 0.1;
  animation-fill-mode: forwards;
}

@keyframes glideFromLeft{
  from{
    transform: translateX(-100dvw);
  }

  to{
    transform: translateX(0);
  }
}


.glideFromRight{

  animation-name: glideFromRight;
  animation-timing-function: ease-in-out;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-delay: 0.1;
  animation-fill-mode: forwards;
}

@keyframes glideFromRight{
  0%{
    transform: translateX(100dvw);
  }

  30%{
    background-color: white;
  }

  50%{
    background-color: magenta;
  }

  60%{
  background-color: black;
}

  100%{
    transform: translateX(0);
    background-color: initial;
  }
}




/* FOOTER */
.footer {
  display: flex;
  justify-content: space-between;
  font-size: 1.6rem;
  font-weight: bold;
  padding: 0 1.6rem;
}

/* MEDIA QUERY */
@media (max-width: 426px) {
  /* HEADER */
  .headerNav {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
  }

  .navList {
    display: none;
  }

  .navHamburgerList {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .hamburgerIcon {
    display: inline;
  }

  /* MAIN */

  /* FOOTER */
}
